{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}                    {# call parent => base.html.twig title #}
    The best cars in the Internet !!  {# <override base.html.twig  #}
{% endblock %}
{% block body %}
    <h1>Our Offers</h1>
    <table class = "table">
        <tr>
            <th>Make</th>
            <th>Name</th>
        </tr>
        {# for loop statement in twig #}
        {% for car in cars %}
            <tr>
                <td>{{ car.make }}</td>
                <td>{{ car.name }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

